{
    "extends": "airbnb",
    "env": {
        "mocha": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "arrow-parens": [0, "as-needed"],
        "react/prefer-stateless-function": [0],
        "global-require": [0],
        "indent": [2, 4, {"SwitchCase": 1}],
        "react/jsx-indent": [2, 4, {"SwitchCase": 1}],
        "react/jsx-indent-props": [2, 4, {"SwitchCase": 1}]
    }
  }